<% if flash.any? %>
  <% flash.each do |type, msg| %>
    <div class="<%= flash_class(type.to_sym) %> alert-dismissible fade in show" role="alert">
      <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
      <%= msg %>
    </div>
  <% end %>
<% end %>
