<footer class="footer">
  <div>
    <p><%= DateTime.now.year %></p>
    <p>
      <%= link_to 'Пахомчик Александр',
                  'https://github.com/alexpahom/think-testguru',
                  target: '_blank',
                  rel: 'nofollow' %>
    </p>
    <p>
      <%= link_to 'Учебный проект онлайн-школы Thinknetica',
                  'https://thinknetica.com/',
                  target: '_blank', rel: 'nofollow' %>
    </p>
  </div>
</footer>