<footer class="footer p-2">
  <div>
    <p><span>
      <%= current_year %> <%= github_url('alexpahom', 'think-testguru') %> Пахомчик Александр
    </span>
    </p>
    <p>
      <%= link_to t('general.feedback'), new_feedback_path, target: '_blank' %>
    </p>
    <p>
      <%= link_to t('general.thinknetica_link'),
                  'https://thinknetica.com/',
                  target: '_blank', rel: 'nofollow' %>
    </p>
  </div>
</footer>
