<footer class="footer">
  <div>
    <p><%= current_year %> <%= github_url('alexpahom', 'think-testguru') %></p>
    <p>Пахомчик Александр</p>
    <p>
      <%= link_to 'Учебный проект в онлайн-школе Thinknetica',
                  'https://thinknetica.com/',
                  target: '_blank', rel: 'nofollow' %>
    </p>
  </div>
</footer>