// Place all the styles related to the test_passages controller here.
// They will automatically be included in application.scss.
// You can use Sass (SCSS) here: https://sass-lang.com/

.test-passed {
  font-weight: bold;
  color: green;
}

.test-failed {
  font-weight: bold;
  color: red;
}
//
//.progress-bar-container {
//  width: 100%;
//  background-color: #666666;
//}
//
//.progress-bar {
//  background-color: darkgreen;
//}
.progress {
  height: 10px
}
